.jebster_event_list{
    line-height: 1.2;
}

.jebster_event{
    padding: 6px;
    text-align: center;
    height: 80px;
}

.jebster_event .jebster_icon{
    position: relative;
    padding: 4px 0 0 2px;
    float: left;
}

.jebster_calendar_icon{
    width: 58px;
    height: 58px;
    border-radius: 10px;
}

.jebster_calendar_icon::before{
    position: absolute;
    border-radius: 10px 10px 0 0;
    height: 18px;
    width: 58px;
    top: 4px;
    left: 2px;
    content: ' ';
}

.jebster_event_title{
    margin: 3px 0 0 0;
    font-size: 16px;
    text-align: center;
}

.jebster_event_description{
    font-size: 12px;
    font-style: italic;
    line-height:12px;
    text-align: center;
}

.jebster_event_shortdescription{
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 2px;
}

span.jebster_month{
    position: absolute;
    top: 5px;
    left: 1px;
    width: 100%;
    color: #fff;
    font-size: 13px;
    font-weight:bold;
}

span.jebster_dayNumber{
    position: absolute;
    top: 24px;
    left: 1px;
    width: 100%;
    font-size: 18px;
    font-weight:bold;
}

span.jebster_dayName{
    position: absolute;
    top: 42px;
    left: 1px;
    width: 100%;
    font-size: 12px;
}

span.jebster_onedigit{
    left: 26px;
}


.jebster_event_link{
    color: #000;
    text-decoration: none;
}

.jebster_event_link:hover{
    text-decoration: none;
}